Source: marchobmenu
Section: admin
Priority: extra
Maintainer: Jules Bernable <jules.bernable@laposte.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://github.com/ju1ius/marchobmenu
Vcs-Git: git://github.com/ju1ius/marchobmenu.git
Vcs-Browser: http://github.com/ju1ius/marchobmenu

Package: marchobmenu
Architecture: any
Depends: openbox, libinotifytools0, python-gtk2, python-xdg
Description: An automated XDG Menu system for Openbox.
  Marchobmenu monitors for newly installed/removed applications,
  and maintains a pipemenu, listing and categorizing them like the Gnome/Xfce/Lxde menu.
  For help, see http://github.com/ju1ius/marchobmenu/wiki
  Features:
    * Auto generates and auto updates an Openbox "Applications" pipemenu in compliance with www.freedesktop.org standards thereby giving a familiar menu.
    * Support for localizations: the menu generated will be in the system default language where available.
    * Support for icons: starting with Openbox 3.5
    * Auto generates and auto updates a "Places" pipemenu allowing you to browse your filesystem from the Openbox menu.
    * Auto generates and auto updates a "Bookmarks" pipemenu listing your GTK Bookmarks in the Openbox menu.

