Source: marchobmenu
Section: admin
Priority: extra
Maintainer: Jules Bernable <jules.bernable@laposte.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://github.com/ju1ius/marchobmenu
Vcs-Git: git://github.com/ju1ius/marchobmenu.git
Vcs-Browser: http://github.com/ju1ius/marchobmenu

Package: marchobmenu
Architecture: amd64
Depends: openbox, bash, libinotifytools0, python (>= 2.4), python (<< 3), python-xdg

Description: An automated XDG Menu system for Openbox.
  Marchobmenu monitors for newly installed/removed applications, and maintains a pipemenu, listing and categorizing them like the Gnome/Xfce/Lxde menu.
  The package installs a menu file "/etc/xdg/menus/mom-applications.menu",
  which allows you to configure the menu as you see fit.
  For infos about editing the menu file, see:
  http://standards.freedesktop.org/menu-spec/latest/ar01s04.html
  Features:
    * Auto generates and auto updates an Openbox "Applications" pipemenu in compliance with www.freedesktop.org standards thereby giving a familiar menu.
    * Support for localizations: the menu generated will be in the system default language where available.
    * Auto generates and auto updates a "Places" pipemenu allowing you to browse your filesystem from the Openbox menu.

